@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --navy-900: #19202D;
    --amber-500: #F59E0B;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
        --navy-900: #1E293B;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

button {
    @apply text-black font-bold py-2 px-4 rounded;
}

.bg-amber-500 {
    background-color: var(--amber-500);
}

.bg-gray-700 {
    background-color: #334155;
}

.hover\:bg-gray-600:hover {
    background-color: #475569;
}